body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
};

.cartas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
};